@import "./color.scss";

.details{
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    margin: 0.5rem;
    width: 40vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
    padding: 2rem
}