@import "./color.scss";

.details{
    display: flex;
    gap: 2rem;
    border: 1px solid black;
    width: 60vw;
    height: 40vh;
    padding: 2rem;
    margin: 2rem 12rem;
    >.sub1{
        p{
            font-size: 1rem;
        }
        h3{
            font-size: 1.2rem;
        }
    } 

    >.sub2 {
        text-align: center;
    >img{
        width: 5rem;
        height: 5rem;
        border: 1px solid grey;
        border-radius: 2rem;
    }
    
    >div{
        margin: 1rem 0;
        display: flex;
        gap: 2px;
        align-items: center;
    }
}
}