@import "./color.scss";

.userprofile{
    display: flex;
    gap: 2rem;
}
.userList{
    >div{
        padding: 1rem;
    }
}
.fetchList{
    padding: 10px;
    margin: 5px;
    color: green;
}

.hoverItem{
    margin:10rem 3rem;
}
