@import "./color.scss";

.details{
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    width: 60vw;
    height: 40vh;
    padding: 2rem;
    margin: 2rem 21rem;
    justify-content: center;
    align-items: center;
    >.sub1 p{
        font-size: 1.1rem;
        // color: yellow
    }

    >.sub2 >div{
        display: flex;
        gap: 5px;
        align-items: center;
    }
}